h2 {
  padding-top: 20px;
  color: teal;  
}

rect {
  fill: none;
  pointer-events: all;
  z-index: -1;
}

.nepal_districts {
  fill: #F8F8F8;
  stroke: #929292;
}

.district-boundary {
  fill: none;
  stroke: #929292;
  stroke-linejoin: round;
}

#timeline-map {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.news {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    -webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
    -moz-column-rule-style: solid; /* Firefox */
    column-rule-style: solid;
    -webkit-column-rule-width: 1px; /* Chrome, Safari, Opera */
    -moz-column-rule-width: 1px; /* Firefox */
    column-rule-width: 1px;
    -webkit-column-rule-color: lightblue; /* Chrome, Safari, Opera */
    -moz-column-rule-color: lightblue; /* Firefox */
    column-rule-color: lightblue;

    font-size: 12px;
    font-family: Times, serif;
    font-weight: 500;
    color: #333;
    text-align: justify;
    height: 100px;
}

ul {
  list-style-type: none;
  padding:0;
    margin:0;
}

li { 
    padding-left: 1em; 
    text-indent: -.7em;
}

li:before {
  content: "• ";
  color: #2D5781;
}